.vscode/

# python bytecode
*.pyc
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# django stuff
*.log
*.pot
media/

# env
.env
.env.*
!.env.example

# virtual env
env/
ENV/
.venv/
.virtualenv/
venv/

# node
node_modules/
build/
dist/